<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer>
        2019 © Damon Zhang<div class=""></div>
    </footer>
</div>
<body th:fragment="footer">
<!-- JS Scripts-->
<!-- jQuery Js -->
<script th:src="@{/js/jquery-1.10.2.js}" type="text/javascript"></script>
<!-- Bootstrap Js -->
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>
<!-- Metis Menu Js -->
<script th:src="@{/js/jquery.metisMenu.js}" type="text/javascript"></script>
<script th:src="@{/js/custom-scripts.js}" type="text/javascript"></script>
</body>
</html>